.bg1{
   background-image: url(Hero-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 600px;
}
.png{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.intro{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}
.group{
    align-content: center;
}
.description{
    text-align: center;
    font-size: 16px;
    font-weight: 200px;
    margin:24px 73px;
    /* margin-bottom: 142px; */
}
.btn{
    width: 244px;
    height: 65px;
    color: white;
    background-color: black;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.why{
    background-color: rgba(13, 19, 33, 0.02);
    height: 1500px;
    width: 1140px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
.title{
   height: 1233px;
   width: 946px;
  padding: 10%;
  margin-top: 10%;
  margin-bottom: 100%;
}
.head1{
    display:flex;
    background-color: white;
    border-radius: 16px;
    width: 946px;
    height:336px;
    margin-top: 5%;
}
.head2{
    display: flex;
}
.head3{
    display: flex;
}
.btn2{
    height: 47px;
    width: 171px;
    font-size: 20px;
    font-weight: 800px;
    border: solid;
}
.btn2:hover{
    height: 47px;
    width: 171px;
    background-color: rgb(96, 115, 243);
}
.im1{
    height:240px ;
    width: 274px;
    margin-left: auto;
    margin-right: 30%;
}
.youtube{
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.youtubeb{
    border: solid rgb(191, 187, 187) 0.5px;
    border-radius: 16px;
    padding: 2%;
    height: 550px;
    width: 1076px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.target{
   align-content: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.target1{
    display: flex;
    gap: 24px;
   justify-content: center;
}
.support{
    background-image: url(handshake.jpg);
    border-radius: 16px;
    height: 313px;
    width: 1140px;
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center;
    /* display: block; */
    margin: auto;
    justify-content: center;
    padding: 5%;
}
   
   
.skill1{
    height: 229px;
    width: 340px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    gap: 24px;
    padding: 2%;
    align-items: center;
}
.skill2{
    height: 229px;
    width: 340px;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    gap: 24px;
    padding: 2%;
    align-items: center;
}
.skill3{
    height: 229px;
    width: 340px;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    gap: 24px;
    padding: 2%;
    align-items: center;
    background-color: rgba(255, 223, 0, 0.05);
}
.skill a{
    /* text-decoration: none; */
}
.end{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
    /* padding: 5%; */
    margin-top: 5px;
}
.end-description{
    color: white;
    text-align: center;
}
.headline{
   /* margin: 157px 0px; */
   /* height: 104px; */
   /* width: 730px; */
   /* justify-content: center; */
}
.input{
    text-align: center;
}
.input input{
    height: 57px;
    width: 548px;
    font-size: 16px;
    font-weight: 700px;
    border-radius: 8px;
}
.input button{
    height: 57px;
    width: 120px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 800px;
}
.foot{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgba(13, 19, 33, 0.03);
    
}
.icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 100%; */
}
.title-last{
    /* margin-right: ; */
    justify-content: center;
    align-items: center;
}
.icon ul li{
    list-style: none;
    margin-left: 50px;
}